.nav{
    display: inline;
    left:0px;
    top:-50px;  
}
ul{
    display:inline;
}

li{
    display:inline;
}

@media  screen and (max-device-width:400px){
    .nav{
        display:flex;
        width:fit-content;
        height:-fit-content; 
    }
}    