.grid-container {
  display: grid;
  width: 500px;
  height: 580px;
  grid-gap: 25px 30px;
  border-radius: 15px 15px;
  background-color: rgba(26, 56, 52, 0.788);
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50px 50px 70px 50px 270px;
  text-align: center;
}

.grid-container > div {
  background-color: blueviolet;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
}
/*DMPP*/
.grid-container > div:nth-child(1) {
  background-color: rgb(72, 153, 25);
  font-size: 20px;
  color: rgb(255, 255, 255);
}
/*H3PO4*/
.grid-container > div:nth-child(2) {
  background-color: rgb(222, 245, 224);
  font-size: 20px;
  color: rgb(0, 0, 0);
}
/*DMP*/
.grid-container > div:nth-child(3) {
  background-color: rgb(141, 143, 8);
  font-size: 20px;
  color: rgb(255, 255, 255);
}
/*COLOR*/
.grid-container > div:nth-child(4) {
  background-color: rgb(24, 128, 30);
  font-size: 20px;
  color: rgb(255, 255, 255);
}
/*YELLOW*/
.grid-container > div:nth-child(5) {
  background-color: rgb(251, 255, 38);
  font-size: 20px;
  color: rgb(0, 0, 0);
}
/*BLUE*/
.grid-container > div:nth-child(6) {
  background-color: rgb(6, 43, 253);
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/*Kilos/tons*/
.grid-container > div:nth-child(7) {
  background-color: rgb(211, 102, 12);
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/*litre/tons*/
.grid-container > div:nth-child(8) {
  background-color: rgb(48, 151, 58);
  font-size: 20px;
  color: rgb(255, 255, 255);
}
/*input for tons */
.grid-container > div:nth-child(9) {
  background-color: rgb(253, 196, 89);
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
}

/*input for kilos in reactor */
.grid-container > div:nth-child(10) {
  background-color: rgb(109, 7, 100);
  font-size: 20px;
  color: rgb(255, 249, 249);
  font-weight: bold;
  text-align: center;
}

/*Υπολογισμος*/
.grid-container > div:nth-child(11) {
  background-color: rgb(218, 147, 165);
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
}

/*Διαχωρισμός*/
.grid-container > div:nth-child(12) {
  background-color: rgb(24, 180, 58);
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
}
/*Διαχωρισμος Span*/
.grid-container > div:nth-child(13) {
  background-color: rgb(248, 248, 248);
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: left;
}
/*Υπολογισμος Span*/
.grid-container > div:nth-child(14) {
  background-color: rgb(248, 248, 248);
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-align: left;
}

/*action buttons*/
.child1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
/*All*/
.childall {
  grid-column-start: 1;
  grid-column-end: 4;
}
/*Input Τονοι*/
.child9 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.child10 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.child12 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.spanYpologismos {
  grid-column-start: 1;
  grid-column-end: 3;
}

.spanDiaxorismos {
  grid-column-start: 3;
  grid-column-end: 5;
}

.img {
  position: absolute;
}

/*Hover Διαχωρισμος*/
.grid-container > div:nth-child(11):hover {
  background: rgba(206, 70, 165, 0.979);
  box-shadow: 0 0 5px rgba(206, 70, 165, 0.979),
    0 0 25px rgba(206, 70, 165, 0.979), 0 0 50px rgba(206, 70, 165, 0.979),
    0 0 200px rgba(206, 70, 165, 0.979);
}

/*Hover Υπολογισμος*/
.grid-container > div:nth-child(12):hover {
  background: rgba(6, 247, 26, 0.979);
  box-shadow: 0 0 5px rgba(6, 247, 26, 0.979), 0 0 25px rgba(6, 247, 26, 0.979),
    0 0 50px rgba(6, 247, 26, 0.979), 0 0 200px rgba(6, 247, 26, 0.979);
}

.grid-container2 {
  display: grid;
  width: 600px;
  height: 100%;
  grid-gap: 25px 30px;
  border-radius: 15px 15px;
  background-color: rgb(0, 36, 31);
  grid-template-columns: auto auto auto;
  grid-template-rows: 30px 1350px;
  text-align: center;
}

.grid-container2 > div:nth-child(1) {
  background-color: rgb(95, 245, 9);
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.grid-container2 > div:nth-child(2) {
  background-color: rgb(210, 228, 44);
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.grid-container2 > div:nth-child(3) {
  background-color: rgb(228, 44, 44);
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.grid-container2 > div:nth-child(4) {
  background-color: rgba(235, 229, 229, 0.973);
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.grid-container2 > div {
  background-color: blueviolet;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
}

.childall2 {
  grid-column-start: 1;
  grid-column-end: 4;
}

@media screen and (max-device-width: 400px) {
  .grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 5px 5px;
    border-radius: 5px 5px;
    background-color: rgba(196, 255, 247, 0.507);
    text-align: center;
    grid-template-columns: auto auto;
    grid-template-rows: 46px 46px 46px 46px 50px 40px 140px 120px;
  }

  .grid-container > div {
    background-color: blueviolet;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
  }
  /*DMPP*/
  .grid-container > div:nth-child(1) {
    background-color: rgb(72, 153, 25);
    font-size: 17px;
    color: rgb(255, 255, 255);
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /*H3PO4*/
  .grid-container > div:nth-child(2) {
    background-color: rgb(222, 245, 224);
    font-size: 17px;
    color: rgb(0, 0, 0);
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  /*DMP*/
  .grid-container > div:nth-child(3) {
    background-color: rgb(141, 143, 8);
    font-size: 17px;
    color: rgb(255, 255, 255);
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /*COLOR*/
  .grid-container > div:nth-child(4) {
    background-color: rgb(24, 128, 30);
    font-size: 17px;
    color: rgb(255, 255, 255);
    align-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  /*YELLOW*/
  .grid-container > div:nth-child(5) {
    background-color: rgb(251, 255, 38);
    font-size: 17px;
    color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /*BLUE*/
  .grid-container > div:nth-child(6) {
    background-color: rgb(6, 43, 253);
    font-size: 17px;
    color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /*Kilos/tons*/
  .grid-container > div:nth-child(7) {
    background-color: rgb(211, 102, 12);
    font-size: 17px;
    color: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 2;
  }

  /*litre/tons*/
  .grid-container > div:nth-child(8) {
    background-color: rgb(48, 151, 58);
    font-size: 17px;
    color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 3;
  }
  /*input for tons */
  .grid-container > div:nth-child(9) {
    background-color: rgb(253, 167, 6);
    font-size: 12px;
    color: rgb(0, 0, 0);
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /*input for kilos in reactor */
  .grid-container > div:nth-child(10) {
    background-color: rgb(109, 7, 100);
    font-size: 15px;
    color: rgb(255, 249, 249);
    grid-column-start: 2;
    grid-column-end: 3;
  }
  /*Υπολογισμος*/
  .grid-container > div:nth-child(11) {
    background-color: rgb(218, 147, 165);
    color: rgb(0, 0, 0);
    font-size: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /*Διαχώρισμος*/
  .grid-container > div:nth-child(12) {
    background-color: rgb(24, 180, 58);
    font-size: 15px;
    color: rgb(255, 255, 255);
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /*Υπολογισμος Spam*/
  .grid-container > div:nth-child(13) {
    background-color: rgb(248, 248, 248);
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  /*Διαχωρισμος Spam*/
  .grid-container > div:nth-child(14) {
    background-color: rgb(248, 248, 248);
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .child1 {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .childall {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .child9 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .img {
    position: relative;
  }



  .grid-container2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    grid-gap: 3px 6px;
    border-radius: 5px 5px;
    background-color: rgba(196, 255, 247, 0.507);
    grid-template-columns: auto auto auto;
    grid-template-rows: 30px 30px 30px;
    text-align: center;
  }

  .grid-container2 > div:nth-child(1) {
    background-color: rgb(95, 245, 9);
    font-size: 15px;
    color: rgb(0, 0, 0);
  }

  .grid-container2 > div:nth-child(2) {
    background-color: rgb(210, 228, 44);
    font-size: 15px;
    color: rgb(0, 0, 0);
  }

  .grid-container2 > div:nth-child(3) {
    background-color: rgb(228, 44, 44);
    font-size: 15px;
    color: rgb(0, 0, 0);
  }

  .grid-container2 > div:nth-child(4) {
    background-color: rgb(225, 236, 218);
    font-size: 15px;
    color: rgb(0, 0, 0);
  }

  .grid-container2 > div {
    background-color: blueviolet;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
  }

  .childall2 {
    grid-column-start: 0;
    grid-column-end: 2;
  }

  table {
    border-spacing: 0px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }

  thead th:not(:first-child) {
    display: none;
    border-color: black;
  }
  td,
  th {
    display: block;
    clear: both;
  }
  td[data-th]:before {
    content: attr(data-th);
    float: left;
  }
}



